<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextListener class="logger.LoggerStartupListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{YYYY-MM-dd HH:mm:ss.SSS} [%-4level] [%thread] [%logger{36}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Separate log files by date. Generate log files per day and save 30 days. -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFilesFolder}/passwd.log</file> <!-- log file name (~/Passwd/logFiles/) -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logFilesFolder}/backupLogs/aa.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>     <!-- log file limit 50MB -->
            <maxHistory>30</maxHistory>         <!-- only save 30 days -->
            <totalSizeCap>1GB</totalSizeCap>    <!-- log files summary size -->
        </rollingPolicy>
        <encoder>
            <pattern>[%d{YYYY-MM-dd HH:mm:ss.SSS} [%-4level] [%thread] [%logger{36}] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>

</configuration>